NODE_ENV=development

PORT=3001

POSTGRES_USER=student_os
POSTGRES_PASSWORD=jason
POSTGRES_DB=student_os

DATABASE_URL="postgresql://student_os:jason@localhost:5432/student_os"

ALLOWED_ORIGINS="http://localhost:3001"

API_BASE_URL=http://localhost:3001

CLOUDINARY_API_KEY=556297116466656
CLOUDINARY_API_SECRET=qALw8-ggc-fbuLfNZxdLeSBqzSk
CLOUDINARY_CLOUD_NAME=dlafkpsvx
CLOUDINARY_UPLOAD_PRESET=classmate
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dlafkpsvx
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=classmate